* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Chelsea Market'; }

html {
  scroll-behavior: smooth;
  overflow-x: hidden; }

@keyframes startLine {
  from {
    width: 0%; } }

@keyframes startHeight {
  from {
    height: 0%; } }

@keyframes header {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.spacepage1 {
  height: 1236px;
  width: 10px;
  background-color: black;
  z-index: 999999; }

#svg_8 {
  animation: startLine 5s ease; }

#svg_7 {
  animation: startLine 5s ease; }

#svg_4 {
  animation: startHeight 9s ease; }

.firstPage {
  height: 115rem;
  height: 120rem; }
  .firstPage--salutation {
    animation: header 4s ease; }
  .firstPage--salutation2 {
    animation: header 4s ease; }
  @media only screen and (max-width: 112em) {
    .firstPage {
      height: 115rem; } }
  @media only screen and (max-width: 93.75em) {
    .firstPage {
      height: 85rem; } }
  .firstPage__navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 3px;
    float: left;
    margin-top: 5rem;
    z-index: 9000; }
    .firstPage__navbar--elem {
      text-decoration: none;
      height: 5rem;
      border: 1px solid black;
      width: 70rem;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      box-shadow: 18px 18px 23px -17px rgba(0, 0, 0, 0.75);
      background-color: white;
      overflow: hidden; }
      @media only screen and (max-width: 75em) {
        .firstPage__navbar--elem {
          width: 55rem; } }
      .firstPage__navbar--elem--ul {
        display: flex;
        list-style: none; }
        .firstPage__navbar--elem--ul li {
          margin-top: 1.5rem;
          font-size: 2rem; }
          .firstPage__navbar--elem--ul li a {
            text-decoration: none;
            color: black; }
          @media only screen and (max-width: 75em) {
            .firstPage__navbar--elem--ul li {
              font-size: 1.6rem; } }
  .firstPage__bg {
    height: 55rem;
    margin-top: -2rem;
    width: 100rem;
    background-size: 70rem;
    position: relative;
    position: relative;
    float: right; }
    @media only screen and (max-width: 112em) {
      .firstPage__bg {
        height: 47rem;
        width: 75rem;
        margin-right: 1px; } }
    @media only screen and (max-width: 93.75em) {
      .firstPage__bg {
        height: 37rem;
        width: 65rem; } }
    @media only screen and (max-width: 75em) {
      .firstPage__bg {
        height: 33rem;
        width: 53rem; } }
    .firstPage__bg--layer {
      background-color: rgba(0, 0, 0, 0.589);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute; }
  .firstPage__bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px); }
  .firstPage--text {
    margin-top: 25%;
    margin-left: 40%;
    color: #b3b3b3;
    font-size: 6rem;
    transform: translate(-25%, -25%);
    text-align: center;
    z-index: 34;
    position: relative; }
    @media only screen and (max-width: 112em) {
      .firstPage--text {
        font-size: 4rem;
        margin-top: 33%; } }
  .firstPage__resume {
    box-shadow: 18px 18px 23px -17px rgba(0, 0, 0, 0.75);
    background-color: black;
    height: 4rem;
    width: 20rem;
    margin-top: -35rem;
    margin-left: -13rem;
    font-size: 2rem;
    text-align: center;
    position: relative;
    border-radius: 2rem; }
    @media only screen and (max-width: 93.75em) {
      .firstPage__resume {
        width: 17rem;
        margin-left: -9rem; } }
    .firstPage__resume--file {
      margin-top: 4rem;
      color: #b3b3b3;
      text-decoration: none;
      position: relative; }
      .firstPage__resume--file:hover {
        color: white;
        text-shadow: 1px 16px 19px white; }
  .firstPage__text {
    width: 70%;
    margin-top: -25rem;
    font-size: 1.4rem;
    padding: 4rem;
    text-align: center; }
    .firstPage__text__paragraph {
      padding: 1rem; }
    @media only screen and (max-width: 93.75em) {
      .firstPage__text {
        margin-top: -35rem;
        font-size: 1rem; } }
    @media only screen and (max-width: 93.75em) {
      .firstPage__text {
        margin-top: -17rem;
        font-size: 1rem; } }

.svg {
  z-index: -30;
  margin-top: -17rem;
  margin-left: -45rem; }
  @media only screen and (max-width: 93.75em) {
    .svg {
      margin-top: -37rem; } }

.logo {
  height: 4rem;
  margin-top: .5rem;
  box-shadow: 4px 2px 10px 1px rgba(0, 0, 0, 0.452); }

nav ul li a.current {
  background: black;
  padding: 2rem;
  text-align: center;
  border-radius: 2rem;
  animation: ease;
  color: white; }

.skill {
  display: flex;
  margin-top: 5rem;
  height: 63rem; }
  @media only screen and (max-width: 112em) {
    .skill {
      margin-top: 0rem; } }
  @media only screen and (max-width: 93.75em) {
    .skill {
      height: 53rem; } }
  @media only screen and (max-width: 75em) {
    .skill {
      height: 43rem; } }
  .skill__menu {
    height: 50rem;
    width: 40%;
    border-right: 5px solid black;
    display: grid;
    text-align: center; }
    @media only screen and (max-width: 112em) {
      .skill__menu {
        width: 46%; } }
    @media only screen and (max-width: 93.75em) {
      .skill__menu {
        width: 41%;
        height: 45rem;
        align-items: center; } }
    @media only screen and (max-width: 75em) {
      .skill__menu {
        height: 33rem;
        width: 25rem; } }
    .skill__menu__item {
      margin-top: 5rem;
      font-size: 5rem;
      height: 25rem;
      width: 100%; }
      @media only screen and (max-width: 93.75em) {
        .skill__menu__item {
          height: 15rem; } }
      @media only screen and (max-width: 93.75em) {
        .skill__menu__item {
          height: 13rem;
          margin-top: 0; } }
      .skill__menu__item--txt {
        font-size: 5rem; }
        @media only screen and (max-width: 112em) {
          .skill__menu__item--txt {
            font-size: 4rem; } }
        @media only screen and (max-width: 93.75em) {
          .skill__menu__item--txt {
            font-size: 4rem;
            margin-top: 5rem; } }
        @media only screen and (max-width: 75em) {
          .skill__menu__item--txt {
            font-size: 3rem; } }

@keyframes line {
  from {
    width: 0;
    font-size: 5rem; } }
        .skill__menu__item--txt:hover {
          cursor: pointer; }
          .skill__menu__item--txt:hover::before {
            animation: line 1s ease;
            content: '';
            position: absolute;
            height: 1rem;
            width: 40rem;
            background-color: white;
            margin-top: 3rem;
            border-bottom-right-radius: 20rem; }
            @media only screen and (max-width: 112em) {
              .skill__menu__item--txt:hover::before {
                margin-top: 2.3rem;
                width: 33rem; } }
            @media only screen and (max-width: 93.75em) {
              .skill__menu__item--txt:hover::before {
                width: 30rem; } }
            @media only screen and (max-width: 75em) {
              .skill__menu__item--txt:hover::before {
                width: 22.5rem;
                margin-top: 1.9rem;
                height: 0.5rem; } }
  .skill__info {
    position: relative;
    height: 50rem;
    width: 50%; }
    .skill__info--1 {
      height: 50rem;
      position: absolute;
      width: 100%; }
      @media only screen and (max-width: 75em) {
        .skill__info--1 {
          margin-top: -5rem; } }
    .skill__info--2 {
      position: absolute;
      height: 50rem;
      width: 59.3rem; }
      .skill__info--2 .skillList_Title {
        animation: fade 1s ease;
        text-align: center;
        font-size: 3rem; }
        @media only screen and (max-width: 112em) {
          .skill__info--2 .skillList_Title {
            margin-right: 6rem; } }
        @media only screen and (max-width: 93.75em) {
          .skill__info--2 .skillList_Title {
            margin-right: 21rem; } }
      .skill__info--2--skillList {
        animation: fade 1s ease;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5rem;
        width: 53rem;
        margin: 0rem; }
        @media only screen and (max-width: 112em) {
          .skill__info--2--skillList {
            width: 53rem;
            margin: 0rem; } }
        @media only screen and (max-width: 93.75em) {
          .skill__info--2--skillList {
            width: 38rem; } }
      .skill__info--2 .skillListElement {
        padding: 1rem 5rem; }
        @media only screen and (max-width: 112em) {
          .skill__info--2 .skillListElement {
            padding: 1rem 3rem; } }
        @media only screen and (max-width: 93.75em) {
          .skill__info--2 .skillListElement {
            padding: 1rem; } }
        @media only screen and (max-width: 75em) {
          .skill__info--2 .skillListElement > svg {
            height: 140px; } }
    .skill__info__stats {
      display: flex; }
      .skill__info__stats--html {
        margin-left: -1rem;
        width: 7rem;
        position: relative; }
        @media only screen and (max-width: 112em) {
          .skill__info__stats--html {
            width: 4rem; } }

.skill1:hover {
  cursor: pointer; }
  .skill1:hover::before {
    animation: line 1s ease;
    content: '';
    position: absolute;
    height: 1rem;
    width: 22rem;
    background-color: black;
    margin-top: 3rem;
    border-bottom-right-radius: 20rem; }
    @media only screen and (max-width: 112em) {
      .skill1:hover::before {
        margin-top: 2.3rem;
        width: 20rem; } }
    @media only screen and (max-width: 75em) {
      .skill1:hover::before {
        width: 14rem;
        margin-top: 1.9rem;
        height: 0.5rem; } }

.sts {
  margin-top: 4rem;
  width: 3rem;
  border: 1px solid #b3b3b3;
  animation: fade 1s ease; }
  @media only screen and (max-width: 75em) {
    .sts {
      margin-top: 1rem; } }

.legenda {
  position: absolute;
  margin-left: -10rem;
  animation: fade 1s ease; }

.legenda > * {
  padding-top: 10rem;
  font-size: 1rem;
  color: #b3b3b3;
  border-bottom: 1px solid black;
  width: 60rem; }
  @media only screen and (max-width: 112em) {
    .legenda > * {
      width: 48rem;
      margin-left: 6rem; } }
  @media only screen and (max-width: 93.75em) {
    .legenda > * {
      width: 39rem; } }
  @media only screen and (max-width: 75em) {
    .legenda > * {
      width: 35rem;
      margin-left: 5.5rem; } }

.title {
  animation: fade 1s ease;
  text-align: center;
  padding: 3rem;
  font-size: 3rem; }
  @media only screen and (max-width: 75em) {
    .title {
      padding: 0rem; } }

.name {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  align-items: baseline;
  word-wrap: break-word; }
  @media only screen and (max-width: 112em) {
    .name {
      width: 4rem;
      word-wrap: break-word;
      height: 2rem; } }

.space {
  height: 2rem;
  width: 2rem; }

.html {
  background-color: #4bffa5;
  height: 25rem;
  animation: move 2s ease; }

.css {
  background-color: #4bffa5;
  height: 25rem;
  animation: move 2s ease; }

.js {
  background-color: #4bffa5;
  height: 18rem;
  animation: move 2s ease; }

.react {
  background-color: #4bffa5;
  height: 14rem;
  animation: move 2s ease; }

.node {
  background-color: #4bffa5;
  height: 7rem;
  animation: move 2s ease; }

.adobe1 {
  background-color: #4bffa5;
  height: 14rem;
  animation: move 2s ease; }

.adobe2 {
  background-color: #4bffa5;
  height: 14rem;
  animation: move 2s ease; }

@keyframes move {
  from {
    max-height: 0%; }
  to {
    max-height: 100%; } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.circle-chart__circle {
  transform: rotate(-90deg);
  transform-origin: center; }

.circle-chart__circle2 {
  stroke-dasharray: 55 100;
  animation: complete 2s ease; }

.circle-chart__circle1 {
  stroke-dasharray: 60 100;
  animation: complete 2s ease; }

.circle-chart__circle3 {
  stroke-dasharray: 70 100;
  animation: complete 2s ease; }

.circle-chart__circle4 {
  stroke-dasharray: 80 100;
  animation: complete 2s ease; }

.circle-chart__circle5 {
  stroke-dasharray: 100 100;
  animation: complete 2s ease; }

@keyframes complete {
  from {
    stroke-dasharray: 0 100; } }

.section-project {
  height: 70rem; }
  @media only screen and (max-width: 93.75em) {
    .section-project {
      height: 60rem; } }
  .section-project__row {
    display: flex; }
  .section-project__title {
    font-size: 4rem;
    text-align: center;
    padding: 5rem; }
    @media only screen and (max-width: 93.75em) {
      .section-project__title {
        padding: 0rem 0rem 3rem; } }

.card {
  position: relative;
  perspective: 150rem; }
  .card:hover .card__side--front {
    cursor: grab;
    transform: rotateY(180deg); }
  .card__details {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.3rem; }
    .card__details > ul {
      padding: 0; }
    .card__details li {
      list-style: none; }
      @media only screen and (max-width: 112em) {
        .card__details li {
          padding-top: 5px; } }
      @media only screen and (max-width: 93.75em) {
        .card__details li {
          padding-top: 11px; } }
    @media only screen and (max-width: 93.75em) {
      .card__details {
        font-size: 1rem; } }
  .card__infoBox {
    text-align: center; }
    .card__infoBox .infoBack {
      font-size: 3rem;
      padding: 2rem; }
      @media only screen and (max-width: 112em) {
        .card__infoBox .infoBack {
          font-size: 2rem; } }
      @media only screen and (max-width: 93.75em) {
        .card__infoBox .infoBack {
          font-size: 1.5rem; } }
  .card__used {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.3rem; }
    .card__used li {
      list-style: none; }
      .card__used li:hover {
        padding: 5px;
        text-decoration: underline; }
    @media only screen and (max-width: 75em) {
      .card__used > ul {
        padding: 0; } }
  .card:hover .card__side--back {
    cursor: pointer;
    transform: rotateY(0); }
  .card__side {
    border-radius: 2rem;
    backface-visibility: hidden;
    transition: all .8s ease-in; }
    .card__side--front {
      background-color: #818181;
      position: absolute;
      height: 43rem;
      width: 30rem; }
      @media only screen and (max-width: 112em) {
        .card__side--front {
          height: 42rem;
          width: 26rem; } }
      @media only screen and (max-width: 93.75em) {
        .card__side--front {
          height: 34rem;
          width: 21rem; } }
      @media only screen and (max-width: 75em) {
        .card__side--front {
          height: 32rem;
          width: 18rem; } }
    .card__side--back {
      background-color: #474545;
      transform: rotateY(180deg);
      height: 43rem;
      width: 30rem;
      color: white; }
      @media only screen and (max-width: 112em) {
        .card__side--back {
          width: 26rem; } }
      @media only screen and (max-width: 93.75em) {
        .card__side--back {
          height: 35rem;
          width: 21rem; } }
      @media only screen and (max-width: 75em) {
        .card__side--back {
          height: 33rem;
          width: 19rem; } }
  .card__picture {
    height: 15rem;
    width: 24rem;
    background-color: white;
    margin-top: 3rem;
    margin-left: 0; }
    @media only screen and (max-width: 112em) {
      .card__picture {
        height: 13rem;
        width: 22rem; } }
    @media only screen and (max-width: 93.75em) {
      .card__picture {
        height: 9rem;
        width: 14rem; } }
  .card__heading {
    font-size: 5rem;
    text-align: center; }
    @media only screen and (max-width: 112em) {
      .card__heading {
        font-size: 5rem; } }
    @media only screen and (max-width: 93.75em) {
      .card__heading {
        font-size: 3rem; } }

.backimg {
  height: 10rem; }

.divbtngit {
  text-align: center;
  padding: 3rem;
  text-decoration: none; }

.btngit {
  padding: 2rem;
  background-color: #818181;
  border: 2px solid black;
  border-radius: 5rem;
  color: white;
  transition-duration: 0.4s;
  outline: none; }
  .btngit:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    font-size: 16px;
    outline: none; }
  .btngit > * {
    color: white;
    text-decoration: none;
    text-underline-offset: none; }

.interests {
  height: 70rem;
  position: relative;
  z-index: -900;
  background-color: #e6e3e3; }
  @media only screen and (max-width: 112em) {
    .interests {
      height: 50rem; } }
  .interests--imgbg {
    margin: 10rem;
    position: absolute;
    height: 30rem;
    z-index: -4; }
    @media only screen and (max-width: 112em) {
      .interests--imgbg {
        height: 20rem; } }
  .interests__desc {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.3rem;
    width: 60%;
    margin-right: 0;
    padding: 3rem; }
    @media only screen and (max-width: 112em) {
      .interests__desc {
        font-size: 1rem; } }
    @media only screen and (max-width: 75em) {
      .interests__desc {
        margin: 0; } }
  .interests__frame {
    height: 30rem;
    width: 60rem;
    border: 5px solid black;
    position: absolute;
    z-index: -30;
    margin-left: 20rem; }
    @media only screen and (max-width: 112em) {
      .interests__frame {
        height: 20rem;
        width: 50rem; } }
    @media only screen and (max-width: 93.75em) {
      .interests__frame {
        height: 15rem;
        width: 30rem; } }

.InfoTitle {
  font-size: 4rem;
  margin-left: 15rem;
  margin-top: 10rem; }

.hb {
  font-size: 32px; }
  @media only screen and (max-width: 75em) {
    .hb {
      font-size: 21px; } }

.progress {
  height: 20rem;
  width: 30rem;
  margin-left: 45rem;
  margin-top: 10rem;
  z-index: -20; }
  @media only screen and (max-width: 93.75em) {
    .progress {
      height: 11rem;
      width: 12rem;
      margin-left: 31rem;
      margin-top: 0rem; } }
  @media only screen and (max-width: 75em) {
    .progress {
      margin-left: 32rem;
      margin-top: 40px; } }
  .progress .da {
    display: flex;
    width: 34rem; }
    @media only screen and (max-width: 112em) {
      .progress .da {
        width: 29rem;
        height: 0rem; } }
    @media only screen and (max-width: 75em) {
      .progress .da {
        width: 26rem; } }
    .progress .da_dot {
      top: 0;
      height: 20px;
      width: 20px;
      background: black;
      border-radius: 19px;
      position: relative; }
      @media only screen and (max-width: 112em) {
        .progress .da_dot {
          height: 18px;
          width: 18px; } }
      @media only screen and (max-width: 75em) {
        .progress .da_dot {
          height: 16px;
          width: 16px; } }
      .progress .da_dot--grey {
        background: white !important;
        top: 0;
        display: block;
        height: 20px;
        width: 20px;
        border-radius: 19px;
        position: relative; }
  .progress .da2::before {
    content: "";
    left: 0;
    top: 0;
    margin-top: 8.5rem;
    z-index: -3;
    width: 43rem;
    height: 25rem;
    background-color: #E6E3E3;
    position: absolute;
    z-index: -10;
    transform: translate(30rem, -5rem);
    margin-left: -35rem;
    filter: blur(10px); }
    @media only screen and (max-width: 112em) {
      .progress .da2::before {
        width: 33rem;
        transform: translate(35rem, -7rem);
        width: 27rem;
        height: 18rem; } }
    @media only screen and (max-width: 75em) {
      .progress .da2::before {
        transform: translate(36rem, -9rem);
        width: 23rem;
        height: 16rem; } }

.percentage {
  position: absolute;
  margin-left: 10rem; }
  .percentage__stat {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: .5rem; }
    @media only screen and (max-width: 75em) {
      .percentage__stat {
        padding-top: 5px; } }
  @media only screen and (max-width: 112em) {
    .percentage {
      margin: 0; } }

.testimonials {
  margin-top: 5rem;
  text-shadow: 2px 6px 49px white;
  color: white;
  height: 80rem;
  background-color: #141414; }
  @media only screen and (max-width: 93.75em) {
    .testimonials {
      height: 70rem; } }
  .testimonials__titleT {
    font-size: 5rem;
    text-align: center;
    padding: 4rem; }
  .testimonials__subT {
    font-size: 2rem;
    margin-left: 4rem;
    padding-bottom: 5rem; }
    @media only screen and (max-width: 75em) {
      .testimonials__subT {
        font-size: 1.5rem; } }
  .testimonials__user {
    text-align: center;
    height: 30rem;
    width: 20rem;
    border: 6px solid white; }
    .testimonials__user:hover {
      background-color: #E6E3E3;
      color: black; }
    .testimonials__user--imgDiv {
      margin-top: -7rem;
      height: 10rem;
      width: 10rem;
      border: 6px solid white;
      border-radius: 50%;
      overflow: hidden; }
    .testimonials__user--Utext {
      margin-top: 3rem; }
    @media only screen and (max-width: 93.75em) {
      .testimonials__user {
        height: 27rem;
        width: 15rem; } }

.userImg {
  height: 10rem;
  width: auto;
  margin-left: -4rem; }

.element {
  display: flex;
  margin: 10rem; }
  @media only screen and (max-width: 93.75em) {
    .element {
      margin: 4rem; } }
  @media only screen and (max-width: 75em) {
    .element {
      margin: 4rem; } }

.userImg2 {
  margin-left: -1.5rem;
  height: 20rem; }

.section-contact {
  display: grid;
  justify-items: center;
  grid-template-columns: 100%;
  padding: 15rem 0; }
  @media only screen and (max-width: 93.75em) {
    .section-contact {
      padding: 5rem 0rem; } }

.contact {
  height: 45rem;
  width: 80%;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.671) 0%, rgba(255, 255, 255, 0.575) 50%, transparent 50%), url(/img/contact-me2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.267);
  display: grid;
  justify-items: start;
  justify-content: space-around;
  grid-template-columns: 100%;
  padding: 3rem; }
  .contact .form {
    margin-top: 6rem; }
    .contact .form-group {
      width: 25rem;
      margin-bottom: 1rem; }
    @media only screen and (max-width: 93.75em) {
      .contact .form {
        margin-top: 0rem; } }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  color: inherit;
  background-color: #fffefd;
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s;
  font-weight: 700; }
  .form__input--text {
    height: 8rem; }
  .form__input::-webkit-input-placeholder {
    color: black; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.596);
    border-bottom: 3px solid black;
    width: 100%; }
  .form__input:focus:invalid {
    border-bottom: 3px solid black; }

.form__label {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 2rem;
  margin-top: 8px;
  transition: all .3s;
  display: block; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.footer {
  background-color: #141414;
  display: flex;
  color: white;
  height: 9rem;
  width: 100%;
  font-size: 1rem; }
  .footer__logo > * {
    height: 5rem;
    margin-top: 2rem; }
  .footer__contact {
    display: flex;
    margin-right: 0;
    align-items: baseline; }
    .footer__contact > * {
      margin-top: 2rem;
      padding: .5rem; }
      .footer__contact > * > * {
        text-decoration: none;
        color: white; }
