// @keyframes start{
//     from{
//         width: 0%;
//     }

// }
// @keyframes startHeight{
//     from{
//         height: 0%;
//     }

// }

// @keyframes header {
//     from{
//     opacity: 0;
//     margin-top: 30%;
//     }
//     to{
//         opacity: 1;
//     }
//     }
    

#svg_8{
    animation: start 3s ease;
   
    
}
#svg_7{
    animation: start 3s ease;
    
}

#svg_4{
    animation: startHeight 3s ease;
    
}
.firstPage{

    &--salutation{
        animation: header 4s ease;
    }
    &--salutation2{
      
        animation: header 4s ease;
       
    }

    height: 120rem;
    &__navbar{
        position: -webkit-sticky;
        position: sticky;
        top: 3px;


        float: left;
        margin-top: 5rem;
        // position: relative;
       z-index: 9000;
     
        &--elem{
            text-decoration:none;

            height: 5rem;
            border: 1px solid black;
            width: 70rem;
            
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            box-shadow: 18px 18px 23px -17px rgba(0,0,0,0.75);
            background-color: white;
            // border-collapse: separate;
            overflow: hidden;

          
           &--ul{
          
            display: flex;
            justify-items: start;
            list-style: none;
           
            li{
                margin-top: 1.5rem;
                // padding: 2rem;
      
                font-size: 2rem;
                a{
                    text-decoration:none;
                    color: black;

                }

            }

           }
        }
    }
    &__bg{
       
         height: 55rem;
         margin-top: -2rem;
         width: 100rem;
         
          background-size: 70rem;

        position: relative;
         

       
       position: relative;
        float: right;
        &--layer{
            background-color: rgba(0, 0, 0, 0.589);
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
        }

      
       

    }
    &__bg::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('/img/bg1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        filter: blur(5px);
    }


    &--text{
       
        // filter: blur(0);
        margin-top: 25%;
         margin-left:40%;
        color: rgb(179, 179, 179);
        //  z-index: 22;
        font-size: 6rem;
        // position: absolute;
         transform: translate(-25%, -25%);
         text-align: center;
         z-index: 34;
         position: relative;
         
          

        
    }


    &__resume{

        box-shadow: 18px 18px 23px -17px rgba(0,0,0,0.75);

        // margin-left: 10rem;
       
       background-color: black;
       height: 4rem;
       width: 20rem;
       margin-top: -35rem;
       margin-left: -13rem;
       font-size: 2rem;
       text-align: center;
      position: relative;
    
     border-radius: 2rem;
       &--file{
        &:hover{
           
            color: white;
            text-shadow: 1px 16px 19px  rgb(255, 255, 255);

        }
           margin-top: 4rem;
        color: rgb(179, 179, 179);
        text-decoration: none;
        position: relative;
       }
   
    }

    &__text{
        width:70%;
         margin-top: -25rem;
        font-size: 1.4rem;
        padding: 4rem;
        text-align: center;
        &__paragraph{
            padding: 1rem;
        }
    }
}
.svg{
z-index: -30;
    margin-top: -17rem;
    margin-left: -45rem;
    
}
.logo{
    height: 4rem;
    margin-top: .5rem;
    box-shadow: 4px 2px 10px 1px rgba(0, 0, 0, 0.452);
    // position: absolute;
    
}
 nav ul li a.current {
    
        background: black;
        padding: 2rem;
        text-align: center;
        border-radius: 2rem ;
        animation: ease;
        color: white;
        
    
  }
 
//   nav ul li a {
//     display: block;
//     padding: 0.5rem 1rem;
//     color: white;
//     text-decoration: none;
//   }