.section-project{
    &__row{
        display: flex;


    }

&__title{
    font-size: 4rem;
    text-align: center;
    padding: 5rem;
}


}

// ================


// ===============

.card{
    position: relative;
    perspective: 150rem;
   
    &:hover &__side--front{
        cursor: grab;
        transform: rotateY(180deg);
    }


  &__details {
      margin-top: 2rem;
      text-align: center;
      font-size: 1.3rem;
        li{
            list-style: none;
        }
      
  }

    &:hover &__side--back{
        cursor: pointer;
        transform: rotateY(0);
    }

  
 
    // border: 1px solid black;
    // background-color: gray;

    &__side{
        border-radius: 2rem;

        backface-visibility: hidden;
        transition: all .8s ease-in;
        // position: absolute;
        &--front{
              background-color: rgb(129, 129, 129);
              position: absolute;
            height: 43rem;
            width: 30rem;
            
        }

        &--back{
            //  position: absolute;
            background-color: rgb(71, 69, 69);
            transform: rotateY(180deg);
            height: 43rem;
            width: 30rem;
            
        }
    }


    &__picture{
        height: 15rem;
        width: 24rem;
        background-color: white;
        margin-top: 3rem;
        margin-left: 0;
    }
    &__heading{
        font-size: 5rem;
        text-align: center;
    }
}



