.section-project{
    height: 70rem;
    @include respond(laptopL){
        height: 60rem;
    }
    &__row{
        display: flex;
        // justify-content: space-evenly;


    }

&__title{
    font-size: 4rem;
    text-align: center;
    padding: 5rem;
           @include respond(laptopL){
            padding: 0rem 0rem 3rem ;   
        }
}


}

// ================


// ===============

.card{
    position: relative;
    perspective: 150rem;
   
    &:hover &__side--front{
        cursor: grab;
        transform: rotateY(180deg);
    }


  &__details {
      margin-top: 2rem;
      text-align: center;
      font-size: 1.3rem;
    &>ul{
        padding: 0; 
        // @include respond(desktop){
        //     padding: 0;    
        // }
        // @include respond(laptopL){
        //     padding: 0;    
        // }
    }
        li{
            list-style: none;
            @include respond(desktop){
                padding-top: 5px;
            }
            @include respond(laptopL){
                padding-top: 11px;
            }
        }
        @include respond(laptopL){
            font-size: 1rem;
       
        }
      
  }

  &__infoBox{
      text-align: center;
      .infoBack{
          font-size: 3rem;
          padding: 2rem;

          @include respond(desktop){
             font-size: 2rem;
        }
        @include respond(laptopL){
            font-size: 1.5rem;
        }

      }
  }
  &__used{
      
    margin-top: 2rem;
    text-align: center;
    font-size: 1.3rem;

    li{
        list-style: none;
        &:hover{
            padding: 5px;
            text-decoration: underline;
        }
    
    }
    @include respond(tab-land) {
        &>ul{
            padding: 0;
        }
   
     }
  }

    &:hover &__side--back{
        cursor: pointer;
        transform: rotateY(0);
    }

  
 
    // border: 1px solid black;
    // background-color: gray;

    &__side{
        border-radius: 2rem;

        backface-visibility: hidden;
        transition: all .8s ease-in;
        // position: absolute;
        &--front{
              background-color: rgb(129, 129, 129);
              position: absolute;
            height: 43rem;
            width: 30rem;
            @include respond(desktop){
                height: 42rem;
                width: 26rem;
            }
            @include respond(laptopL){
                height: 34rem;
                width: 21rem;
            }
            @include respond(tab-land) {
                height: 32rem;
                width: 18rem;
          
            }
            
            
        }

        &--back{
            //  position: absolute;
            background-color: rgb(71, 69, 69);
            transform: rotateY(180deg);
            height: 43rem;
            width: 30rem;
            color: white;
            @include respond(desktop){
                width: 26rem;
            }
            @include respond(laptopL){
                height: 35rem;
                width: 21rem;
            }
            @include respond(tab-land) {
                height: 33rem;
                width: 19rem;
          
            }
        
        }
    }


    &__picture{
        height: 15rem;
        width: 24rem;
        background-color: white;
        margin-top: 3rem;
        margin-left: 0;

        @include respond(desktop){
            height: 13rem;
            width: 22rem;
        }
        @include respond(laptopL){
            height: 9rem;
            width: 14rem;
        }

    }
    &__heading{
        font-size: 5rem;
        text-align: center;

        @include respond(desktop){
            font-size: 5rem;
        }
        @include respond(laptopL){
            font-size: 3rem;
        }

    }
}



.backimg{
    height: 10rem;
}
.divbtngit{
    text-align: center;
    padding: 3rem;
    text-decoration: none;
}
.btngit{
    padding: 2rem;
    // text-align: center;
   
    background-color: #818181;

    border: 2px solid black;
    border-radius: 5rem;
    color: white;
    transition-duration: 0.4s;
    outline: none;
    &:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        font-size: 16px;
        outline: none;
    }
   &>*{
    
       color: white;
       text-decoration: none;
       text-underline-offset: none;
   }
}