.footer{
    // overflow: hidden;
    background-color: #141414;
    display: flex;
    color: white;
    //  padding: 2.8rem;
     height: 9rem;
     width: 100%;
    font-size: 1rem;
    

    &__logo>*{
        height: 5rem;
        margin-top: 2rem;
        // margin-top: 90px;
    }

    &__contact{
        display: flex;
        // margin-top: 5%;
        margin-right: 0;
        // margin: 0;
        // padding: 2.8rem;
        align-items: baseline;
        &>*{
            margin-top: 2rem;
         padding: .5rem;
           &>*{
            text-decoration: none;
            color: white;
           }
        }
    }
}
