


.skill{
    display: flex;
    margin-top: 5rem;
    height: 63rem;
    @include respond(desktop){
        margin-top: 0rem;
    }
    @include respond(laptopL){
        height: 53rem;
    }
    @include respond(tab-land) {
        height:43rem;
  
    }

    &__menu{
        height: 50rem;
        width: 40%;
        border-right: 5px solid black;
        //  background-color: rgb(179, 179, 179);
        display: grid;
        // align-items: center;
        text-align: center;

        @include respond(desktop){
                width: 46%;

        }
        @include respond(laptopL){
            width: 41%;
            height: 45rem;
            align-items: center;
            
        }
        @include respond(tab-land) {
            height: 33rem;
            width: 25rem;
      
        }
      
        &__item{
            
            margin-top: 5rem ;
            font-size: 5rem;
            // align-items: center;
            height: 25rem;
            width: 100%;
            @include respond(laptopL){
                height: 15rem;
                
            }
            @include respond(laptopL){
                height: 13rem;
                margin-top: 0;
            }
            &--txt{
                font-size: 5rem;
                @include respond(desktop){
                    font-size: 4rem;
    
                    }
                    @include respond(laptopL){
                        font-size: 4rem;
                        margin-top: 5rem 
                        
                    }
                    @include respond(tab-land) {
                        font-size: 3rem;
                    }


                @keyframes line {
                    from{
                        width: 0;
                        font-size: 5rem;
                    }
                    
                }
              

                &:hover{
                   
                    cursor: pointer;
              
                    &::before{
                        animation: line 1s ease;
                        content: '';
                        position: absolute;
                        height: 1rem;
                        width: 40rem;
                        // border: 1px solid black;
                        background-color: white;
                        margin-top: 3rem;
                        border-bottom-right-radius:20rem ;
                        @include respond(desktop){
                            margin-top: 2.3rem;
                            width: 33rem;
            
                         }
                         @include respond(laptopL){
                            width: 30rem;

                            
                        }
                        @include respond(tab-land) {
                            width: 22.5rem;
                            margin-top: 1.9rem;
                            height: 0.5rem;
                      
                        }
                        
                    }
                }
           
            }   
            // margin-bottom: 5px solid black;
        }

    }
    &__info{
        position: relative;
        height: 50rem;
        width: 50%;
        //  border: 1px solid black;
        // background-color: rgb(231, 231, 231);]

        &--1{
           
            // position: absolute;
            // background-color: rgb(231, 231, 238);
            height: 50rem;
            position: absolute;
            width: 100%;
            //  display: none;
            @include respond(desktop){
                
                // margin-left: 6rem;
             }
        }
        &--2{

            position: absolute;
            // position: absolute;
            // background-color: red;
            height: 50rem;
            width: 59.3rem;
            //   display: block;
  

            // =======================skillList====================
           .skillList_Title{
            animation: fade 1s ease;
              text-align: center;
              font-size: 3rem;

              @include respond(desktop){
                
                margin-right: 6rem;
             }
             @include respond(laptopL){
                margin-right: 21rem;
                
               
                
            }
           
           }
            
            &--skillList{
                animation: fade 1s ease;
                padding: 1rem;
                display:flex;
                flex-wrap: wrap;
                margin-top: 5rem;
                width: 53rem;
                margin: 0rem;
                @include respond(desktop){
                
                    width: 53rem;
                    margin: 0rem;
            
                 }
                 @include respond(laptopL){
                    width:38rem;
                    
                   
                    
                }
        
               

            }
            .skillListElement{
                padding: 1rem 5rem;
                @include respond(desktop){
                
                    padding: 1rem 3rem;
                 }
                 @include respond(laptopL){
                    padding:1rem;
                   
                    
                }
                @include respond(tab-land){
                    &>svg{
                        height: 140px;
                    }
                   
                    
                }
                
            }

        }

        // =============stats=============
        &__stats{
            
            display: flex;
            
         
            &--html{
                margin-left: -1rem;
                 width: 4rem;
                 position: relative;
              
               
            }
        }
      
        
    }
}
.skill1{
    &:hover{
   
        cursor: pointer;
  
        &::before{
            animation: line 1s ease;
            content: '';
            position: absolute;
            height: 1rem;
            width: 22rem;
            // border: 1px solid black;
            background-color: black;
            margin-top: 3rem;
            border-bottom-right-radius:20rem ;
            @include respond(desktop){
                margin-top: 2.3rem;
                width: 20rem;

             }
             @include respond(tab-land) {
                width: 14rem;
                margin-top: 1.9rem;
                height: 0.5rem;
          
            }
       
            
        }
    }
}
.sts{
    margin-top: 4rem;
    // height: 30rem;
    width: 3rem;
    border: 1px solid rgb(179, 179, 179);
    // z-index: 333;
    // position: relative;
    // background-color: red;
    animation: fade 1s ease;
    @include respond(tab-land) {
        margin-top: 1rem;
  
    }
    
  
   
 
}
.legenda{
    position: absolute;
    margin-left: -10rem;
    // opacity: 0.5;
    animation: fade 1s ease;
}
.legenda >*{

    padding-top: 10rem;
    font-size: 1rem;
    color: rgb(179, 179, 179);
    border-bottom: 1px solid black;
    width: 60rem;
  
    //z-index: -3;
    // position: relative;
    @include respond(desktop){
        width: 48rem;
        margin-left: 6rem;
      

     }
     @include respond(laptopL){
        width: 39rem;
       
        
    }
    @include respond(tab-land) {
        width: 35rem;
        margin-left: 5.5rem;
  
    }
  
   
}
.title{
    animation: fade 1s ease;
    text-align: center;
    padding: 3rem;
    font-size: 3rem;
    @include respond(tab-land) {
        padding: 0rem;
  
    }
}
.name{
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
     align-items: baseline;
     word-wrap: break-word;

    //  writing-mode: vertical-rl;
    //  text-orientation: upright;
    // position: absolute;
    // &__name1{
    //     margin-top: 3rem;
        
    // }
    // &__name2{
    //     margin-bottom: 3rem;
        
    // }
    @include respond(desktop){
        width: 4rem;
        word-wrap: break-word;
        height: 2rem;

     }



       
 
}
.space{
    height: 2rem;
    width: 2rem;
}
.html{
    background-color: rgb(75, 255, 165);
    height: 25rem;
    animation: move 2s ease;
}
.css{
    background-color: rgb(75, 255, 165);
    height: 25rem;
    animation:move 2s ease;
}
.js{
    background-color: rgb(75, 255, 165);
    height: 18rem;
    animation:move 2s ease;
}
.react{
    background-color: rgb(75, 255, 165);
    height:  14rem;
    animation:move 2s ease;
}
.node{
    background-color: rgb(75, 255, 165);
    height:  7rem;
    animation:move 2s ease;
}
.adobe1{
    background-color: rgb(75, 255, 165);
    height:  14rem;
    animation:move 2s ease;
}
.adobe2{
    background-color: rgb(75, 255, 165);
    height:  14rem;
    animation:move 2s ease;
}

@keyframes move{
    from{ max-height: 0%;}
    to{ max-height: 100%;}
};
@keyframes fade{
from{
    opacity: 0;
}  
to{
    opacity: 1;
}
}

// =====================the other skills==================
.circle-chart__circle {
    transform: rotate(-90deg);
    transform-origin: center;
 }
 .circle-chart__circle2{
    stroke-dasharray:55 100;
    animation:complete 2s ease;
 }
 .circle-chart__circle1{
    stroke-dasharray:60 100;
    animation:complete 2s ease;
 }
 .circle-chart__circle3{
    stroke-dasharray:70 100;
    animation:complete 2s ease;
 }
 .circle-chart__circle4{
    stroke-dasharray:80 100;
    animation:complete 2s ease;
 }
 .circle-chart__circle5{
    stroke-dasharray:100 100;
    animation:complete 2s ease;
 }

 @keyframes complete{
      from{stroke-dasharray:0 100;}
    //  to{stroke-dasharray:80 100;}
 }